/* Din eksisterende CSS */
body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #f2f4f2, #c3e3e7);
    color: #333;
    text-align: center;
    padding: 50px;
}
h1 {
    font-size: 3em;
    margin-bottom: 20px;
}
p {
    font-size: 1.5em;
    margin-bottom: 20px;
}
.week-info {
    font-size: 1.2em;
    margin-bottom: 20px;
    color: #fff;
}
.task-container {
    display: block;
    margin-top: 30px;
}
.task-info {
    background: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    width: 60%;
    margin: 20px auto;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}
.current-week {
    background: rgba(255, 215, 0, 0.8); /* Gullfarge for aktuell uke */
}

/* CSS for handlelisten */
.shopping-list {
    margin-top: 50px;
}
.shopping-list input[type="text"],
.shopping-list input[type="number"] {
    padding: 10px;
    margin: 5px;
    width: 200px;
}
.shopping-list button {
    padding: 10px 20px;
    margin: 5px;
}
.items {
    margin-top: 20px;
}
.item {
    background: rgba(255, 255, 255, 0.8);
    padding: 10px;
    margin: 10px auto;
    width: 40%;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.item p {
    margin: 0;
}

.shopping-list, .task-container {
    background: rgba(255, 255, 255, 0.1);
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 30px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
}

input[type="text"], input[type="number"] {
    padding: 10px;
    border-radius: 5px;
    border: none;
    margin-right: 10px;
    width: calc(100% - 130px);
    max-width: 300px;
}

button {
    padding: 10px 20px;
    background-color: #00e676;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #00c853;
}

.task-info {
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
}

.item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: rgba(255, 255, 255, 0.2);
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
}
